fastapi==0.63.0
pymongo==4.1.1
uvicorn==0.13.3
dnspython==2.3.0
PyJWT==2.6.0
passlib==1.7.1
incidentsBugDSI==0.4 # Developed by Daniela Torres from DSI. <3
slowapi==0.1.8
pytest==7.4.4
requests==2.31.0
matplotlib==3.8.2
scipy==1.12.0
networkx==3.2.1
pympler==1.0.1
